<div class="login-wrapper">
	<div class="card">
		<div class="card-content">
			<div class="card-header">
				<div class="card-avatar"></div>
				<div class="card-heading">Admin Login</div>
			</div>
			<form class="card-form">
				<div class="card-form-input">
					<input type="text" placeholder="yourname@email.com" />
					<input type="text" placeholder="password" />
				</div>
				<div class="card-form-submit">
					<div class="checkbox">
						<input type="checkbox">Remember Me
					</div>
					<div class="button">
						<button>Login</button>
					</div>
				</div>
			</form>
		</div>
		<div class="card-social">
			Footer
		</div>

	</div>
</div>