<div class="dash-wrapper">
    <div class="dash-icons">
        <div ng-repeat="icon in icons" class="icons" ng-class="{'icons-first' : icon == icons[0]}" ng-click="clickIcon()">
            <img src="{{icon.url}}">
        </div>
    </div>
    <div class="dash-inbox" >
        <div class="inbox-header">
            <span>Inbox</span>
        </div>
        <div class="inbox-messages">
            <div ng-repeat="messages in inbox" class="messages" ng-class="{'message-special' : messages.special}" ng-click="clickInbox()">
                <span>{{messages.type}}</span>
                <span>{{messages.count}}</span>
            </div>
        </div>
    </div>
    <div class="dash-users">
        <div class="users-header">
            <input type="text" placeholder="Search" ng-model="query">
        </div>
        <div class="users-list">
            <div class="users" ng-repeat="user in users | filter:query" ng-click="changeUser(this.user)">
                <div class="card-avatar"></div>
                <div class="user-messages">
                    <div class="user-name">{{user.name}}</div>
                    <div class="user-message">{{user.message}}</div>
                </div>
                <div class="user-activity">
                    <div>...</div>
                    <div>{{user.time}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-messages" id="active">
        <div class="dash-message-list">
            <div class="dash-message-header">
                <div class="active-user">
                    {{activeUser.name}}
                </div>
                <div class="active-user-options">
                    <div class="box"><img src="/client/components/dash/star.svg"></div>
                    <div class="box"><img src="/client/components/dash/phone-call.svg"></div>
                    <div class="box"><img src="/client/components/dash/video-camera.svg"></div>
                </div>
            </div>
            <div class="dash-message-content">
                <div class="dash-user-messages" ng-repeat="messages in activeUser.messageList" ng-class="{'reciever' : !messages.sender , 'sender' : messages.sender }">
                    <div class="message-details">
                        <div class="card-avatar"></div>
                        <div class="dash-user-message">{{messages.message}}</div>
                    </div>
                    <div>
                        {{messages.time}}
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-profile">
            <div class="dash-profile-header">
                <span>{{activeUser.name | uppercase}}</span>
            </div>
            <div class="dash-profile-body">
                <div class="dash-profile-picture">
                    <img src="{{activeUser.url}}">
                </div>
                <div class="dash-profile-details">
                    <span>NickName:</span>
                    <span>{{activeUser.nickName}}</span>
                </div>
                <div class="dash-profile-details">
                    <span>Contact:</span>
                    <span>{{activeUser.contact}}</span>
                </div>
                <div class="dash-profile-details">
                    <span>Gender:</span>
                    <span>{{activeUser.gender}}</span>
                </div>
                <div class="dash-profile-details">
                    <span>Language:</span>
                    <span>{{activeUser.language}}</span>
                </div>
                <div class="dash-profile-details">
                    <span>DOB:</span>
                    <span>{{activeUser.bday}}</span>
                </div>
            </div>
        </div>
    </div>
</div>